.button {
  width: 100%;
  max-width: 400px;
  height: 60px;

  transition: 0.3s;

  cursor: pointer;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;

  border-radius: 8px;
  border: none;
}

.button_blue {
  background: #066fde;
  color: #fff;
}

.button_gray {
  background: #eff2fd;
  color: #121620;
}

.button_disabled {
  background: #c7c7c7;
  color: #121620;
}

.button_icon {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0 24px;
}
