.h1 {
  color: #0f2866;
  font-size: 24px;
  font-weight: 600;
}

.h2 {
  color: #121620;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.h3 {
  color: #121620;
  font-size: 17.859px;
  font-style: normal;
  font-weight: 400;
}

.h4 {
  color: #6b7baa;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.h5 {
  color: #8e8e93;
  text-align: center;
  font-family: Inter;
  font-size: 11.813px;
  font-style: normal;
  font-weight: 400;
}
