.container {
  max-width: 650px;
  width: 100%;
  min-width: 340px;
  max-height: 450px;
  height: 100%;
  min-height: 400px;
  border-radius: 30px;

  background: transparent;

  position: relative;
}

.video {
  width: 100%;
  height: 100%;

  border-radius: 30px;

  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.palm {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0px;
  width: auto;
  height: 85%;
  z-index: 4;
}

.button {
  cursor: pointer;

  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 10px;
  z-index: 4;

  width: 80px;
  height: 80px;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.3);

  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    background: #dee5f8;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
