.button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background: transparent;

  cursor: pointer;

  :focus {
    background: transparent;
    border: none;
  }

  > svg {
    height: 25px;
    width: 25px;
  }
}
